<mat-tab-group>
  <mat-tab label="Artist">
    <mat-list>
      <h3 mat-subheader>Artist</h3>
      <mat-list-item (click)="onClick('artist', artist._id)" *ngFor="let artist of artists">
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 mat-line>{{artist._id}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Album">
    <mat-list>
      <h3 mat-subheader>Album</h3>
      <mat-list-item (click)="onClick('album', album._id)" *ngFor="let album of albums">
        <mat-icon mat-list-icon>album</mat-icon>
        <h4 mat-line>{{album._id}}</h4>
      </mat-list-item>
    </mat-list>      
  </mat-tab>
  <mat-tab label="Genre">
    <mat-list>
      <h3 mat-subheader>Genres</h3>
      <mat-list-item (click)="onClick('genre', genre._id)" *ngFor="let genre of genres">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{genre._id}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>

<mat-card *ngIf="explorerPlaylist" class="folder-content" >
  <mat-list>
    <mat-list-item *ngFor="let e of explorerPlaylist">
      <p> {{e.title}} </p>
    </mat-list-item>
  </mat-list>
</mat-card>