<audio [src]="file.src" type="audio/mpeg" #audio>
</audio>

<div class="player">

    <div class="title">
        {{file.title || file.name}}
    </div>
    <div class="subtitle">
        <div class="artist">
            {{file.artist}}
        </div>
        <div class="album">
            {{file.album}}
        </div>
    </div>


    <div class="image-container">
        <div class="image" [ngStyle]="{'background': imageBackground, 'background-size':'250px 250px'}">
            
        </div>
    </div>
        <!-- <img class="albumart" [src]="'data:image/png;base64,'+file.picture[0].data" alt="Red dot" /> -->
    


    <div class="seeker">

        <mat-slider class="seeker-slider" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel" (change)="onSeekerChange($event)"
            [(ngModel)]="value">
        </mat-slider>
        <div class="time">
            {{getTime()}}
        </div>

    </div>

    <div class="volume">

        <mat-slider class="volume-slider" [max]="100" [min]="0" [thumb-label]="thumbLabel" (change)="onVolumeChange($event)" [(ngModel)]="volume">

        </mat-slider>

    </div>

    <div class="toggle-buttons" *ngIf="state">
        <button mat-mini-fab *ngIf="state.shuffle" title="Shuffle On" color="primary" (click)="toggleShuffle($event)">
            <mat-icon aria-label="Example icon-button with a heart icon">shuffle</mat-icon>
        </button>
        <button mat-mini-fab *ngIf="!state.shuffle" title="Shuffle Off" (click)="toggleShuffle($event)">
            <mat-icon aria-label="Example icon-button with a heart icon">shuffle</mat-icon>
        </button>

        <button mat-mini-fab *ngIf="state.repeat===RepeatModes.REPEAT_ALL" title="Repeat All" color="primary" (click)="toggleRepeat($event)">
            <mat-icon aria-label="Example icon-button with a heart icon">repeat</mat-icon>
        </button>
        <button mat-mini-fab *ngIf="state.repeat===RepeatModes.REPEAT_ONCE" title="Repeat Once" color="accent"  (click)="toggleRepeat($event)">
            <mat-icon aria-label="Example icon-button with a heart icon">repeat</mat-icon>
        </button>
        <button mat-mini-fab *ngIf="state.repeat===RepeatModes.REPEAT_NONE" title="Repeat Off" color="warn"  (click)="toggleRepeat($event)">
            <mat-icon aria-label="Example icon-button with a heart icon">repeat</mat-icon>
        </button>
    </div>

    <div class="buttons">


        <button mat-fab color="primary" (click)="skipPrevious($event)">
            <mat-icon aria-label="Example icon-button with a heart icon">skip_previous</mat-icon>
        </button>

        <button mat-fab color="primary" (click)="onPlayPauseClick($event)">
            <mat-icon *ngIf="!state.playing" aria-label="Example icon-button with a heart icon">play_arrow</mat-icon>
            <mat-icon *ngIf="state.playing" aria-label="Example icon-button with a heart icon">pause</mat-icon>
        </button>

        <button mat-fab color="primary" (click)="stop($event)">
            <mat-icon aria-label="Example icon-button with a heart icon">stop</mat-icon>
        </button>

        <button mat-fab color="primary" (click)="skipNext($event)">
            <mat-icon aria-label="Example icon-button with a heart icon">skip_next</mat-icon>
        </button>

    </div>

    <div class="description" *ngIf="descriptionFlag">

        <div class="field artists">
            <div class="label artists-label">
                Artist
            </div>
            <div class="value artists-value">
                {{file.artist}}
            </div>
        </div>

        <div class="field albums">
            <div class="label albums-label">
                Album
            </div>
            <div class="value albums-value">
                {{file.album}}
            </div>
        </div>
        <div class="field name">
            <div class="label name-label">
                File Name
            </div>
            <div class="value name-value">
                {{file.name}}
            </div>
        </div>
    </div>
</div>