<mat-card class="folder-container">
  <mat-card-title>
    <div class="folder-header">
      <div class="nav-buttons">
        <button mat-mini-fab
        (click)="onNavigationBack($event)"
        >
          <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
        </button>
        <button mat-mini-fab
        (click)="onNavigationForward($event)"
        
        >
          <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <div class="path">
        <div class="folder" [ngClass]="{'current': i === folderNavIndex}" (click)="onNavHistoryClick(f)" *ngFor="let f of folderNavHistory; let i = index"  >
          {{f.name}}
        </div>
        <!-- {{folderData.name}} -->
      </div>
      <div class="options">
        <button mat-mini-fab (click)="onPlayAllClick($event)" title="Play All" >
          <mat-icon>playlist_play</mat-icon>
        </button>
        <button mat-mini-fab (click)="onPlayListClick($event)" title="Play Songs">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
    </div>

  </mat-card-title>

  <mat-list class="folder-item-list">
    <mat-list-item *ngFor="let e of folderData.folders" (click)="onFolderClick(e)">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div class="folder-item">
        <p class="title"> {{e.name}} </p>
      </div>
    </mat-list-item>
    <mat-list-item *ngFor="let e of folderData.files" (click)="onItemClick(e)">
      <mat-icon mat-list-icon>audiotrack</mat-icon>
      <div class="folder-item">
        <p class="title"> {{e.title || e.name }} </p>
      </div>
    </mat-list-item>
  </mat-list>



</mat-card>