<mat-tab-group>
  <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
    <mat-list>
      <h3 mat-subheader> {{tab.label}} </h3>
      <mat-list-item (click)="onClick(tab.name, entry._id)" *ngFor="let entry of tab.entries">
        <mat-icon mat-list-icon> {{tab.icon}} </mat-icon>
        <h4 mat-line>{{entry._id}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <!-- <mat-tab label="Album">
    <mat-list>
      <h3 mat-subheader>Album</h3>
      <mat-list-item (click)="onClick('album', album._id)" *ngFor="let album of albums">
        <mat-icon mat-list-icon>album</mat-icon>
        <h4 mat-line>{{album._id}}</h4>
      </mat-list-item>
    </mat-list>      
  </mat-tab>
  <mat-tab label="Genre">
    <mat-list>
      <h3 mat-subheader>Genres</h3>
      <mat-list-item (click)="onClick('genre', genre._id)" *ngFor="let genre of genres">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{genre._id}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-tab> -->
</mat-tab-group>

<ms-folder-content
*ngIf="folderData && folderData.name"
[folderData]="folderData"
(folderAction)="onFolderAction($event)"
>

</ms-folder-content>