<div class="search-bar">
  <ms-search-bar 
  (searched)="onSearch($event)">

  </ms-search-bar>
</div>


<mat-tab-group>  
  <mat-tab label="Explorer" >
    <ms-explorer
    [folderData]="folderData"
    (folderAction)="onFolderAction($event)"
    (selected)="onFolderSelected($event)"
    >

    </ms-explorer>
  </mat-tab>
  <mat-tab label="Now Playing">

    <div class="playlist">
      <ms-playlist 
        [fileList]="fileList" 
        [selectedFile]="selectedFile" 
        (fileClicked)="onFileClicked($event)">
      </ms-playlist>
    </div>

  </mat-tab>

</mat-tab-group>