<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <fex-explorer [fileList]="fileList" (fileClicked)="onFileClicked($event)" ></fex-explorer>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <fex-player 
    [state]="playerState"
    [file]="selectedFile" 
    (next)="skipNext($event)" 
    (previous)="skipPrevious($event)"
    (stateChanged)="onStateChanged($event)"
    ></fex-player>
  </div>

</mat-drawer-container>