<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/skeleton.css' />
</head>

<style>
  button {
    display: block;
  }
</style>

<body>

  <div class="container">
    <div class="row">
      <div id="playlist" class="five columns">

      </div>
      <div class="seven columns">
        <audio controls>
            <source src="" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
      </div>
    </div>
  </div>

</body>

<script>
  var files = JSON.parse(`<%- files %>`);
  console.log(files);


  var playContainer  = document.querySelector('#playlist');

  

</script>

</html>