<mat-tab-group>
  <mat-tab label="Artist">
      <mat-selection-list>
          <mat-list-option *ngFor="let folder of folders">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{folder.name}}</h4>
            <p mat-line> {{folder.updated | date}} </p>
          </mat-list-option>
        </mat-selection-list>
        
  </mat-tab>
  <mat-tab label="Album">
      <mat-selection-list>
          <mat-list-option *ngFor="let folder of folders">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{folder.name}}</h4>
            <p mat-line> {{folder.updated | date}} </p>
          </mat-list-option>
        </mat-selection-list>
        
  </mat-tab>
  <mat-tab label="Genre">
      <mat-selection-list>
          <mat-list-option *ngFor="let folder of folders">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{folder.name}}</h4>
            <p mat-line> {{folder.updated | date}} </p>
          </mat-list-option>
        </mat-selection-list>
        
  </mat-tab>
</mat-tab-group>